# Use absolute paths
pythonCommand = /usr/bin/python3
# will be automatically created at the location
tempPythonFilePath = /home/admin/exais/testcasegenerator/temp.py
prologCommand = /usr/bin/swipl -q -s
prologMainFile = /home/admin/exais/src/main.pl
testNumber=10
testMode=normal
#normal/nodeterministic